<html>
    <head>
        {% if title %}
        <title>{{ title }} - Movie Site</title>
        {% else %}
        <title>Welcome to Movie Site</title>
        {% endif %}
    </head>
    <body>
        <div>
            Movie Site:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('movie_list') }}">Movie List</a>
            <a href="{{ url_for('new_movie') }}">Add New Movie</a>
            <a href="{{ url_for('new_director') }}">Add New Director</a>
            <a href="{{ url_for('new_star') }}">Add New Star</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
