{% extends "base.html" %}

{% block content %}

    <h1>Add Director to Database</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
        </p>
        <p>
            {{ form.country.label }}<br>
            {{ form.country(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}